body {
  font-family: Arial, sans-serif;
  background: #f2f4f8;
  margin: 0;
}

header {
  background: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: gray;
  cursor: pointer;
}

.container {
  width: 350px;
  margin: 80px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
}

button {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

img {
  width: 100%;
  margin-top: 10px;
}
